In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
# df_normal = pd.read_excel('SWaT_Dataset_Normal_v1.xlsx', header=1)
# df_normal.to_csv('SWaT_Normal.csv')
# df_abnormal = pd.read_excel('SWaT_Dataset_Attack_v0.xlsx', header=1)
# df_abnormal.to_csv('SWaT_Abnormal.csv')

In [3]:
df_label = pd.read_excel('List_of_attacks_Final.xlsx', header=0, index_col=0)
df_label_clean = df_label.dropna(subset=['Start Time', 'End Time'], how='any')
df_label_clean.drop(columns=['Start State', 'Attack', 'Expected Impact or attacker intent','Unexpected Outcome',
                            'Actual Change'], inplace=True)
df_label_clean['Start Time'] = pd.to_datetime(df_label_clean['Start Time'])
df_label_clean['Adjusted End Time'] = df_label_clean.apply(lambda row: pd.to_datetime(
    row['Start Time'].strftime('%Y-%m-%d') + ' ' + row['End Time'].strftime('%H:%M:%S')), axis=1)
df_label_clean.drop([4,23,35], inplace=True)
df_label_clean.to_csv('SWaT_label.csv')
df_label_clean

,Start Time,End Time,Attack Point,Adjusted End Time
Attack #,,,,
1,2015-12-28 10:29:14,10:44:53,MV-101,2015-12-28 10:44:53
2,2015-12-28 10:51:08,10:58:30,P-102,2015-12-28 10:58:30
3,2015-12-28 11:22:00,11:28:22,LIT-101,2015-12-28 11:28:22
6,2015-12-28 12:00:55,12:04:10,AIT-202,2015-12-28 12:04:10
7,2015-12-28 12:08:25,12:15:33,LIT-301,2015-12-28 12:15:33
8,2015-12-28 13:10:10,13:26:13,DPIT-301,2015-12-28 13:26:13
10,2015-12-28 14:16:20,14:19:00,FIT-401,2015-12-28 14:19:00
11,2015-12-28 14:19:00,14:28:20,FIT-401,2015-12-28 14:28:20
13,2015-12-29 11:11:25,11:15:17,MV-304,2015-12-29 11:15:17
14,2015-12-29 11:35:40,11:42:50,Mv-303,2015-12-29 11:42:50
16,2015-12-29 11:57:25,12:02:00,LIT-301,2015-12-29 12:02:00
17,2015-12-29 14:38:12,14:50:08,MV-303,2015-12-29 14:50:08
19,2015-12-29 18:10:43,18:15:01,AIT-504,2015-12-29 18:15:01
20,2015-12-29 18:15:43,18:22:17,AIT-504,2015-12-29 18:22:17
21,2015-12-29 18:30:00,18:42:00,"MV-101, LIT-101",2015-12-29 18:42:00
22,2015-12-29 22:55:18,23:03:00,"UV-401, AIT-502, P-501",2015-12-29 23:03:00
24,2015-12-30 09:51:08,09:56:28,"P-203, P-205",2015-12-30 09:56:28
25,2015-12-30 10:01:50,10:12:01,"LIT-401, P-401",2015-12-30 10:12:01
26,2015-12-30 17:04:56,17:29:00,"P-101, LIT-301",2015-12-30 17:29:00
27,2015-12-31 01:17:08,01:45:18,"P-302, LIT-401",2015-12-31 01:45:18
28,2015-12-31 01:45:19,11:15:27,P-302,2015-12-31 11:15:27
29,2015-12-31 15:32:00,15:34:00,"P-201, P-203, P-205",2015-12-31 15:34:00
30,2015-12-31 15:47:40,16:07:10,"LIT-101, P-101, MV-201",2015-12-31 16:07:10
31,2015-12-31 22:05:34,22:11:40,LIT-401,2015-12-31 22:11:40
32,2016-01-01 10:36:00,10:46:00,LIT-301,2016-01-01 10:46:00
33,2016-01-01 14:21:12,14:28:35,LIT-101,2016-01-01 14:28:35
34,2016-01-01 17:12:40,17:14:20,P-101,2016-01-01 17:14:20
36,2016-01-01 22:16:01,22:25:00,LIT-101,2016-01-01 22:25:00
37,2015-01-02 11:17:02,11:24:50,"P-501, FIT-502",2015-01-02 11:24:50
38,2015-01-02 11:31:38,11:36:18,"AIT-402, AIT-502",2015-01-02 11:36:18
39,2015-01-02 11:43:48,11:50:28,"FIT-401, AIT-502",2015-01-02 11:50:28
40,2015-01-02 11:51:42,11:56:38,FIT-401,2015-01-02 11:56:38
41,2015-01-02 13:13:02,13:40:56,LIT-301,2015-01-02 13:40:56

In [4]:
df_normal = pd.read_csv('SWaT_Normal.csv', header=0, index_col=0)
df_normal.drop(columns=[' Timestamp','Normal/Attack'], inplace=True)
df_normal = df_normal[::10].reset_index(drop=True)
print(df_normal.values.shape)
print(df_normal.columns)
df_normal.head()

(49500, 51)
Index(['FIT101', 'LIT101', 'MV101', 'P101', 'P102', 'AIT201', 'AIT202',
       'AIT203', 'FIT201', 'MV201', 'P201', 'P202', 'P203', 'P204', 'P205',
       'P206', 'DPIT301', 'FIT301', 'LIT301', 'MV301', 'MV302', 'MV303',
       'MV304', 'P301', 'P302', 'AIT401', 'AIT402', 'FIT401', 'LIT401', 'P401',
       'P402', 'P403', 'P404', 'UV401', 'AIT501', 'AIT502', 'AIT503', 'AIT504',
       'FIT501', 'FIT502', 'FIT503', 'FIT504', 'P501', 'P502', 'PIT501',
       'PIT502', 'PIT503', 'FIT601', 'P601', 'P602', 'P603'],
      dtype='object')

,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,MV201,...,FIT504,P501,P502,PIT501,PIT502,PIT503,FIT601,P601,P602,P603
0,0.0,124.3135,1,1,1,251.9226,8.313446,312.7916,0.0,1,...,0.0,1,1,9.100231,0.0,3.3485,0.000256,1,1,1
1,0.0,123.7247,1,1,1,251.9226,8.308960,312.8685,0.0,1,...,0.0,1,1,9.100231,0.0,3.3485,0.000256,1,1,1
2,0.0,124.1565,1,1,1,251.9226,8.308960,312.7916,0.0,1,...,0.0,1,1,9.100231,0.0,3.3485,0.000256,1,1,1
3,0.0,123.3714,1,1,1,251.9226,8.313766,312.9198,0.0,1,...,0.0,1,1,9.100231,0.0,3.3485,0.000256,1,1,1
4,0.0,124.9415,1,1,1,251.9226,8.309921,312.9198,0.0,1,...,0.0,1,1,9.068188,0.0,3.3485,0.000256,1,1,1

In [5]:
df_abnormal = pd.read_csv('SWaT_Abnormal.csv', header=0, index_col=0)
df_abnormal.dropna(how='any', inplace=True)
df_abnormal = df_abnormal[::10].reset_index(drop=True)
labels = np.zeros(df_abnormal.values[:,1:-2].shape)
print(df_abnormal.values.shape)
df_abnormal['Adjusted Timestamp'] = pd.to_datetime(df_abnormal[' Timestamp'], format=' %d/%m/%Y %I:%M:%S %p').dt.strftime('%Y-%m-%d %H:%M:%S')
df_abnormal['Adjusted Timestamp'] = pd.to_datetime(df_abnormal['Adjusted Timestamp'])

(44992, 53)

In [6]:
dic = {}
for i in df_abnormal.columns.values[1:-2]:
    dic[i.lstrip()] = len(dic)
dic

{'FIT101': 0,
 'LIT101': 1,
 'MV101': 2,
 'P101': 3,
 'P102': 4,
 'AIT201': 5,
 'AIT202': 6,
 'AIT203': 7,
 'FIT201': 8,
 'MV201': 9,
 'P201': 10,
 'P202': 11,
 'P203': 12,
 'P204': 13,
 'P205': 14,
 'P206': 15,
 'DPIT301': 16,
 'FIT301': 17,
 'LIT301': 18,
 'MV301': 19,
 'MV302': 20,
 'MV303': 21,
 'MV304': 22,
 'P301': 23,
 'P302': 24,
 'AIT401': 25,
 'AIT402': 26,
 'FIT401': 27,
 'LIT401': 28,
 'P401': 29,
 'P402': 30,
 'P403': 31,
 'P404': 32,
 'UV401': 33,
 'AIT501': 34,
 'AIT502': 35,
 'AIT503': 36,
 'AIT504': 37,
 'FIT501': 38,
 'FIT502': 39,
 'FIT503': 40,
 'FIT504': 41,
 'P501': 42,
 'P502': 43,
 'PIT501': 44,
 'PIT502': 45,
 'PIT503': 46,
 'FIT601': 47,
 'P601': 48,
 'P602': 49,
 'P603': 50}

In [20]:
test_x_lst = []
test_label_lst = []
for i in range(len(df_label_clean)):
    lower = df_label_clean.iloc[i]['Start Time']
    upper = df_label_clean.iloc[i]['Adjusted End Time']
    attack_lst = df_label_clean.iloc[i]['Attack Point'].split(",")
    attack_lst_ind = [dic[j.replace('-','').lstrip().upper()] for j in attack_lst]
    index_lst = np.array(df_abnormal.loc[(df_abnormal['Adjusted Timestamp'] >= lower) & (df_abnormal['Adjusted Timestamp'] <= upper)].index.values)
    if len(index_lst) > 0:
        for j in attack_lst_ind:
            labels[index_lst, j] = 1
        test_x_lst.append(df_abnormal.iloc[min(index_lst)-5:max(index_lst)+1, 1:-2].values)
        test_label_lst.append(labels[min(index_lst)-5:max(index_lst)+1])